<li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin_dashboard') }}">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin_acceptance') }}">
        <i class="fas fa-check-circle"></i>
        <span>Acceptances</span>
    </a>
</li>
<!-- Nav Item - Donation History -->
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin_donation_history') }}">
        <i class="fas fa-history"></i>
        <span>Donation History</span>
    </a>
</li>
<!-- Nav Item - Blood Donation Forms -->
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('admin_blood_donation_forms') }}">
        <i class="fas fa-file-medical"></i>
        <span>Blood Donation Forms</span>
    </a>
</li> 
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('blood_store_page') }}">
        <i class="fas fa-warehouse"></i>
        <span>Blood Store</span>
    </a>
</li>